{% extends "base.html" %}

{% block title %}Game Page{% endblock %}

{% block content %}
<div class="container">
  <div class="return">
    <a href="/">&#8592; Return to Home</a>
  </div>
  
  <header>
    Question Time!
  </header>

  <h2>{{ question[0] }}</h2> <!-- Question Title -->

  <div class="box-container">
    <form action="{{ url_for('deliver_questions') }}" method="POST">
      {% for answer in question[1] %}
        <button class="answer-button" type="submit" name="answer" value="{{ answer }}">{{ answer }}</button>
      {% endfor %}
    </form>
  </div>
{% endblock %}